body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f2f5;
    /* Agrega estas propiedades para la imagen de fondo */
    background-image: url('/IPSPUPTM/recursos/img/login2.png'); /* Ruta de la imagen */
    background-size: cover;  /* Cubre todo el body */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
}
 .logo-container {
            text-align: center;
            margin-bottom: 20px;
        }

        .logo {
            max-width: 350px;
            /* Puedes ajustar el tamaño máximo del logo */
            height: auto;
        }